<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".firebase.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_delivery"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_delivery"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedcallDelivery"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.map.MapActivity"
            android:exported="false" />
        <activity
            android:name=".activity.trackingmap.DeliverySuccessActivity"
            android:exported="false" />
        <activity
            android:name=".activity.trackingmap.DeliveredActivity"
            android:exported="false" />
        <activity
            android:name=".activity.trackingmap.DeliveredPickUpActivity"
            android:exported="false" />
        <activity
            android:name=".activity.trackingmap.DeliveryTwoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.trackingmap.DeliveryOneActivity"
            android:exported="false" />
        <activity
            android:name=".activity.help.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".activity.account.MyAccountActivity"
            android:exported="false" />
        <activity
            android:name=".activity.deliveries.DeliveryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activity.signup.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activity.welcome.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDmASSRCXyX8RYU4a3Y3Aj97bQRoQftrDE" />

        <activity
            android:name=".MainActivity"
            android:exported="true" />

    </application>

</manifest>